<!-- app/views/articles/index.html.erb -->
<div id="blog-app">
	<!-- Vue.js will mount here -->
</div>

<% if false && @articles.present? %> <% @articles.each do |article| %>
<!-- Your article display logic here -->
<% end %> <% end %>
